/* app css stylesheet */

body {
  
}
body *{
	font-family:'century gothic';
}
.page{
	min-height:100vh;
	padding-top:15px;
}
.page-header{
	margin:-15px -15px 15px -15px;
	padding:10px 30px;
	background:rgba(0,0,0,0.5);
	color:#fff;
}
.page-header a i{
	background:none;
	border:none;
	color:#fff;
	font-size:30px;
}
.page-header .btn-pull-right{
	position:absolute;
	right:30px;
	top:10px;
}
.page-header .btn-pull-left{
	position:absolute;
	left:30px;
	top:10px;
}
.phones {
  list-style: none;
}

.thumb {
  float: left;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}

.phones li {
  clear: both;
  height: 115px;
  padding-top: 15px;
}

p{
	text-align:justify;
}
.transparent{
	background:rgba(0,0,0,0.5);
	color:#fff;
}
.transparent i{
	font-size:45px;
}
.transparent span{
	font-size:25px;
}
button.transparent{
	min-width:100%;
	max-width:100%;
	overflow:hidden;
	text-align:center;
}
.form-control{
	border-radius:0px;
}
input[type="text"], input[type="email"], input[type="password"]{
	padding-left:30px;
}
.form-group span{
	background: rgba(0,0,0,0.5);
  position: absolute;
  color: #fff;
  width: 30px;
  text-align: center;
  height: 33px;
  display: table;
}
.form-group span i{
	display:table-cell;
	vertical-align:middle;
}