<div class="col-xs-12 page" style="background:#ffcc00">
	<loading></loading>
	<div class="page-header">
		<a href="" ng-click="showPage('/home')" class="btn-pull-left"><i class="fa fa-arrow-circle-left"></i></a>
		<h3 style="margin:0px; text-align:center">Contact Us</h3>
	</div>
	<!--<div class="col-xs-6 no-padding">
		<button class="btn btn-default" ng-click="showPage('/home')">Home</button>
	</div>
	<div class="col-xs-6">
		<button class="btn btn-default pull-right" ng-click="showPage('/registration')">Registration</button>
	</div>
	<div class="clearfix" style="height:30px; display:block; clear:both; width:100%"></div>-->
	<div class="col-xs-12">
		<form class="form" ng-submit="submit()">
			<div class="form-group">
				<span><i>N</i></span>
				<input type="text" class="form-control" name="name" ng-model="name" placeholder="Enter Name" required/>
			</div>
			<div class="form-group">
				<span><i class="fa fa-at"></i></span>
				<input type="email" class="form-control" name="email" ng-model="email" placeholder="Enter Email" required/>
			</div>
			<div class="form-group">
				<span><i>S</i></span>
				<input type="text" class="form-control" name="subject" ng-model="subject" placeholder="Enter Subject" required/>
			</div>
			<div class="form-group">
				<textarea class="form-control" name="message" ng-model="message" rows="6"/></textarea>
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-default submit-btn" name="submit" value="Send"/>
			</div>
		</form>
		<div class="clearfix"></div>
		<!--{{userDetails}}-->
		<div ng-if="userDetails.error == 'true'" class="alert alert-danger">
			{{userDetails.message}}
		</div>
		<ul ng-if="userDetails.error != 'true'">
			<li ng-repeat="i in userDetails">{{i}}</li>
		</ul>
	</div>
</div>