<div class="col-xs-12">
	<div class="col-xs-6 no-padding">
		<button class="btn btn-default" ng-click="showPage('/home')">Home</button>
	</div>
	<div class="col-xs-6">
		<button class="btn btn-default pull-right" ng-click="showPage('/registration')">Registration</button>
	</div>
	<div class="clearfix" style="height:30px; display:block; clear:both; width:100%"></div>
	<div class="col-xs-12">
		<form class="form" ng-submit="submit()">
			<div class="form-group">
				<input type="email" class="form-control" name="email" ng-model="email" placeholder="Enter Email" required/>
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-default" name="submit" value="Recover"/>
				<a class="btn btn-default pull-right" ng-click="showPage('/login')">Login</a>
			</div>
		</form>
		<!--{{userDetails}}-->
		<div ng-if="userDetails.error == 'true'" class="alert alert-danger">
			{{userDetails.message}}
		</div>
		<ul ng-if="userDetails.success == 'true'" class="alert alert-success">
			{{userDetails.message}}
		</ul>
	</div>
</div>