<div class="col-xs-12 page" style="background:#ffcc00">
	<div class="page-header">
		<h2 style="margin:0px; text-align:center">XXDeals</h2>
	</div>
	<div class="col-xs-6">
		<button class="btn btn-default transparent"  ng-click="showPage('/login')">
			<i class="fa fa-key"></i>
			<br/><span>Login</span>
		</button>
	</div>
	<div class="col-xs-6">
		<button class="btn btn-default pull-right transparent"  ng-click="showPage('/registration')">
			<i class="glyphicon glyphicon-pencil"></i>
			<br/><span>SignUp</span>
		</button>
	</div>
	<div class="clearfix" style="height:30px; display:block; clear:both; width:100%"></div>
	<div class="col-xs-6">
		<button class="btn btn-default transparent"  ng-click="showPage('/about')">
			<i class="fa fa-info-circle"></i>
			<br/><span>About</span>
		</button>
	</div>
	<div class="col-xs-6">
		<button class="btn btn-default pull-right transparent"  ng-click="showPage('/help')">
			<i class="fa fa-question-circle"></i>
			<br/><span>Help</span>
		</button>
	</div>
	<div class="clearfix" style="height:30px; display:block; clear:both; width:100%"></div>
	<div class="col-xs-6">
		<button class="btn btn-default transparent"  ng-click="openProfile('/profile')">
			<i class="fa fa-user"></i>
			<br/><span>Profile</span>
		</button>
	</div>
	<div class="col-xs-6">
		<button class="btn btn-default pull-right transparent"  ng-click="">
			<i class="fa fa-th-list"></i>
			<br/><span>List</span>
		</button>
	</div>
	<div class="clearfix" style="height:30px; display:block; clear:both; width:100%"></div>
	<div class="col-xs-6">
		<button class="btn btn-default transparent"  ng-click="showPage('/contact')">
			<i class="fa fa-phone-square"></i>
			<br/><span>Contact</span>
		</button>
	</div>
	<div class="col-xs-6">
		<button class="btn btn-default pull-right transparent"  ng-click="">
			<i class="fa fa-exclamation-circle"></i>
			<br/><span>Privacy</span>
		</button>
	</div>
</div>