<div class="col-xs-12">
	<h1 style="margin:0px; text-align:center">Welcome</h1>
	<hr/>
	<div class="col-xs-6">
		<button class="btn btn-default" style="min-width:106px" ng-click="showPage('/login')">Login</button>
	</div>
	<div class="col-xs-6">
		<button class="btn btn-default pull-right" style="min-width:106px" ng-click="showPage('/registration')">Registration</button>
	</div>
	<div class="clearfix" style="height:30px; display:block; clear:both; width:100%"></div>
	<div class="col-xs-6">
		<button class="btn btn-default" style="min-width:106px" ng-click="showPage('/about')">About</button>
	</div>
	<div class="col-xs-6">
		<button class="btn btn-default pull-right" style="min-width:106px" ng-click="showPage('/help')">Help</button>
	</div>
</div>