<div class="col-xs-12 page" style="background:#ffcc00">
	<loading></loading>
	<div class="page-header">
		<a href="" ng-click="showPage('/home')" class="btn-pull-left"><i class="fa fa-arrow-circle-left"></i></a>
		<h3 style="margin:0px; text-align:center">List</h3>
	</div>
	<div class="col-xs-12 no-padding-input" style="margin-bottom:15px">
		<select class="form-control" ng-model="c" ng-options="c.name for c in category">
			<!---<option disabled="disabled">Select Category</option>
			<option ng-repeat="c in category" value="{{c.id}}">{{c.name}}</option>--->
		</select>
	</div>
	<div class="col-xs-12">
		<div class="col-xs-12 item thumbnail" ng-repeat="item in items | filter:{category_id : c.id}" ng-click="showItem(item.id)">
			<div class="">
				<img ng-src="{{item.thumbnail}}" class="item-img" />
			</div>
			<p class="center"><strong>{{item.name}}</strong></p>
			<p class="center">Price: {{item.price}} USD</p>
			<hr/>
			<img ng-src="{{item.user_avatar}}" class="avatar"/>
			<p class="center"><strong>{{item.user_name}}</strong></p>
		</div>
	</div>
</div>