<div class="col-xs-12">
	<div class="col-xs-6 no-padding">
		<button class="btn btn-default" ng-click="showPage('/home')">Home</button>
	</div>
	<div class="col-xs-6">
		<button class="btn btn-default pull-right" ng-click="showPage('/registration')">Registration</button>
	</div>
	<div class="clearfix" style="height:30px; display:block; clear:both; width:100%"></div>
	<div class="col-xs-12">
		<form class="form" ng-submit="submit()">
			<div class="form-group">
				<input type="text" class="form-control" name="username" ng-model="username" placeholder="Enter Username" required/>
			</div>
			<div class="form-group">
				<input type="text" class="form-control" name="password" ng-model="password" placeholder="Enter Password" required/>
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-default" name="submit" value="Login"/>
				<a class="btn btn-default pull-right" ng-click="showPage('/forgotPassword')">Forgot?</a>
			</div>
		</form>
		<!--{{userDetails}}-->
		<div ng-if="userDetails.error == 'true'" class="alert alert-danger">
			{{userDetails.message}}
		</div>
		<ul ng-if="userDetails.error != 'true'">
			<li ng-repeat="i in userDetails">{{i}}</li>
		</ul>
	</div>
</div>