<div class="col-xs-12 page" style="background:#ffcc00">
	<loading></loading>
	<div class="page-header">
		<a href="" ng-click="showPage('/profile')" class="btn-pull-left"><i class="fa fa-arrow-circle-left"></i></a>
		<h3 style="margin:0px; text-align:center">Settings</h3>
		<a href="" ng-click="showPage('/home')" class="btn-pull-right"><i class="fa fa-home"></i></a>
	</div>
	<div class="col-xs-12">
		<form class="form" ng-submit="submit()">
			<div class="form-group">
				<span><i>N</i></span>
				<input type="text" class="form-control" name="name" ng-value="name" ng-model="name" placeholder="Enter Name" required/>
			</div>
			<div class="form-group">
				<span><i class="fa fa-map-marker"></i></span>
				<input type="text" class="form-control" name="location" ng-value="location" ng-model="location" placeholder="Enter Location" required/>
				<p>A location that other users see on your profile.</p>
			</div>
			<div class="checkbox">
				<label>
				  <input type="checkbox" name="newsletter" ng-model="newsletter" ng-true-value="'subscribed'" ng-false-value="'unsubscribed'" value="subscribed"> Newsletter
				</label>
			 </div>
			 <div class="form-group">
				<a href="" ng-click="showPage('/changePassword')" class="btn btn-default btn-pull-left">Change Password</a>
				<input type="hidden" name="user_id" ng-model="user_id">
			</div>
			<div class="form-group">
				<input type="file" nv-file-select="" uploader="uploader" ng-disabled="isProcessing" accept ="image/*"/>
			</div>
			<div ng-repeat="item in uploader.queue">
                                <div class="col-xs-12">
									<strong>Name: {{ item.file.name }}</strong>
									<span>
										<span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok" style="color:green;"></i></span>
										<span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle" style="color:red;"></i></span>
										<span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
									</span>
								</div>
                                <div class="col-xs-12" ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </div>
                                
                                <div class="col-xs-12" nowrap style="padding-top:10px; padding-bottom:10px;">
                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> Upload
                                    </button>
									<button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                    </button>
                                </div>
                            </div>
			<div class="form-group">
				<input type="submit" class="btn btn-default submit-btn" name="submit" value="Save Changes"/>
			</div>
		</form>
		<div class="clearfix"></div>
		<!--{{userData}}-->
		<div ng-if="userDetails.error == 'true'" class="alert alert-danger">
			{{userDetails.message}}
		</div>
		<div ng-if="userDetails.success == 'true'" class="alert alert-success">
			{{userDetails.message}}
		</div>
	</div>
</div>